body {
    background-color: #f8f9fa;
    color: #343a40;
}

.custom-navbar {
    background: linear-gradient(45deg, #56CCF2, #2F80ED);
    color: white;
}

.custom-navbar .nav-link {
    color: white !important;
}

.custom-navbar .nav-link.active {
    font-weight: bold;
    color: #d4e0f5 !important;
}

.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #56CCF2;
    color: white;
}

.card-body {
    background-color: #e0f7fa;
}

.btn-primary {
    background-color: #56CCF2;
    border-color: #56CCF2;
}

.btn-primary:hover {
    background-color: #2F80ED;
    border-color: #2F80ED;
}

.animated-button {
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.animated-button:hover {
    transform: scale(1.05);
    background-color: #2F80ED;
}

.table {
    margin-top: 20px;
}

#TableColaborator_wrapper {
    width: 100%;
}

.modal-content {
    background-color: #e0f7fa;
    border: none;
}

.modal-header {
    background-color: #56CCF2;
    color: white;
}
