body {
        background-image: url(../img/Rectangle\ 1.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
        font-family: "Lato", sans-serif;
        padding-top: 70px;
    }
    .modal-content {
        position: relative;
        z-index: 9999;
    }
    
    #salvarBotao {
        position: relative;
        z-index: 10000;
    }
    